*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-bg: white;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: var(--color-bg);
}

button{
    height: 35px;
    width: 100px;
    border-radius: 6px;
    cursor: pointer;
}

input{
    text-align: center;
    height: 30px;
    width: 200px;
    border: rgb(40, 38, 38) solid;
}

#botao-vermelho{
    background-color: red;
}

#botao-verde{
    background-color: lightgreen;
}